<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="user-details">
    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>Username:</strong>
      <%= @user.username %>
    </p>
  </div>

  <div class="my-4 text-danger">
    <h3>upcoming events</h3>
    <%= render partial: "up_event_card" %>
  </div>

  <div class="my-4 text-danger">
    <h3>previous events</h3>
    <%= render partial: "event_card" %>
  </div>
</div>
