<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<div>
  <% @attendance.each do |attend| %>
    <p><%= Event.find(attend.events_to_attend_id).title %></p>
    <p><%= Event.find(attend.events_to_attend_id).description %></p>
    <p><%= Event.find(attend.events_to_attend_id).time %></p>
  <% end %>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
