<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="bg-info p-3 mb-3">
    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>Username:</strong>
      <%= @user.username %>
    </p>
  </div>

  <div class="">
    <h3 class="text-danger">Upcoming events</h3>
    <div class="row">
      <%= render partial: "up_event_card" %>
    </div>
  </div>

  <div class="">
    <h3 class="text-danger mt-3">Previous events</h3>
    <div class="row">
      <%= render partial: "event_card" %>
    </div>
  </div>
</div>
