<div class="container w-50 mx-auto shadow p-3 mb-5 bg-white rounded p-3 mt-3 border">
<h2>Forgot your password?</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
  </div>
  <br>

  <div class="form-actions">
    <%= f.button :submit, "Send me reset password instructions", class:"border-0 bg-info text-light px-3 py-2 rounded" %>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>
</div>
