<div class="container">
  <h1>My Events</h1>
  <div class="border w-50 text-center">
    <% @events.each do |event| %>
    <div>
    <h2 class="text-info">title</h2>
    <p><%= event.title %></p>
    <h2 class="text-info">description</h2>
    <p><%= event.description %></p>
    <h2 class="text-info">date</h2>
    <p><%= event.time %></p>
    <span><%= link_to 'Show', event, class:"text-success" %></span>
    <span><%= link_to 'Edit', edit_event_path(event), class:"text-primary" %></span>
    <span><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class:"text-danger" %></span>
    <% end %>
  </div>
  </div>

  <br>

  <%= link_to 'New Event', new_event_path %>
</div>

