<p id="notice"><%= notice %></p>

<div class="container">
  <p><%= @event.title %></p>
  <p><%= @event.description %></p>
  <p><%= @event.time %></p>

  <div class="">
    <% @attendance.each do |attend| %>
      <p><%= User.find(attend.attendee_id).username %></p>
    <% end %>
  </div>

</div>
