<p id="notice"><%= notice %></p>

<div class="container">
  <div class="bg-info p-3 rounded">
    <h1><%= @event.title %></h1>
    <p><%= @event.description %></p>
    <p><%= @event.time %></p>
  </div>

  <div class="">
    <h3 class="text-danger mt-3">List of Attendees</h3>
    <ol>
      <% @attendance.each do |attend| %>
        <li class="text-success"><%= User.find(attend.attendee_id).username %></li>
        <hr>
      <% end %>
    </ol>
  </div>

</div>
