<!DOCTYPE html>
<head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="m-0">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to root_path do  %>
        <span class="navbar-brand text-info font-weight-bold d-block">Private Events</span>
      <% end %>

      <div class="collapse navbar-collapse" id="navbarNav">
      </div>

      <div>
        <% if current_user %>
          <button class="border-0 bg-info text-light px-3 py-2 rounded mr-2">
            <%= current_user.username %>
          </button>
          <span>
            <%= link_to "Logout", logout_path, method: :delete, class:"text-info" %>
          </span>
        <% else cred_page? %>
          <%= link_to login_path do  %>
            <button class="border-0 bg-info text-light px-3 py-2 rounded">Sign in</button>
          <% end %>
          <%= link_to signup_path do  %>
            <button class="border-0 bg-info text-light px-3 py-2 rounded">Sign up</button>
          <% end %>
        <% end %>
      </div>
    </nav>
    <div class="container" id="notice">
      <% if flash[:notice] %>
         <div>
           <p><%= notice %></p>
         </div>
       <% end %>
       <% if flash[:alert] %>
         <div>
           <p><%= alert %></p>
         </div>
       <% end %>
    </div>

    <%= yield %>
  </body>
</html>
